STRINGTABLE{
100, "English"
101, "English"
105, "EN"
106, "ISO-8859-1"
107, "Arial,COURIER"
110, "Lauritsen JM"
120, "www.epidata.dk"
125, "See introduction documents in Help menu"
126, "Check regularly for updated help files and documentation"
127, "Documentation files missing - see "
130, "Basic setup of the EpiData Analysis programme:"
131, "Change Position and size of EpiData Analysis"
132, "Save Screen Position"
133, "Select background and text colour"
134, "White background"
135, "Black background"
136, "Choose text font size"
137, "Save changes and Start"
1000, "&File"
1100, "&Edit"
1200, "&Data"
1300, "&Results "
1400, "&Windows"
1500, "&Help"
1001, "Change Directory"
1005, "&Read Data"
1006, "Prop&erties"
1007, "&Close"
1010, "Page &Setup"
1011, "Print Preview"
1012, "&Print.."
1013, "Print as pdf"
1015, "&Save Data"
1018, "&Logopen "
1019, "&Log close"
1021, "Set options"
1022, "Default Window Position"
1023, "Save &Window position"
1024, "Edit Setup (Epidatastat.ini)"
1025, "Page/Printer setup"
1030, "Options"
1050, "&Quit"
1101, "Edit &History"
1105, "Copy"
1106, "&Copy as html"
1107, "&Select all"
1110, "Search"
1111, "Re&peat Search"
1120, "Edit Setup (EpiDataStat.ini)"
1125, "Edit Results (html)"
1202, "&Variable definitions"
1205, "&Browse Data"
1206, "&List"
1210, "&Close Data file"
1215, "&Result Variables"
1216, "&Clear Result Variables"
1220, "&Update/Edit Data"
1301, "Clear &Screen"
1305, "Save Current View (logclose)"
1306, "Save new output (logopen)"
1310, "View Start page"
1311, "View other html file"
1320, "&Reload current View"
1321, "&Next View"
1322, "Previous View"
1412, "Commands "
1413, "Variables "
1414, "Command Prompt"
1415, "Open Program Editor"
1416, "Browse Data "
1417, "History "
1418, "Show start page"
1420, "Process Toolbar O"
1425, "Command Prompt "
1426, "Main Menu "
1429, "Change Screen Font"
1430, "Default Position"
1431, "Save Current Position"
1435, "Process Toolbar "
1437, "Data Browser "
1501, "Quick Guide (pdf)"
1502, "&Command Reference "
1505, "&Introduction (pdf)"
1510, "Windows (Keyboard Shortcuts)"
1535, "&Search EpiData list"
1540, "Check version (updates)"
1550, "&About"
2001, "Results"
2002, "Stop Current Action (ESC)"
2100, "&Read"
2200, "&Browse"
2300, "&Graph"
2400, "&Analysis"
2500, "&Output"
2600, "Edi&tor"
2700, "&Close"
2800, "E&xit"
2901, "Copy"
2902, "Copy as Html"
2903, "Select All"
2904, "Screen Font"
2905, "Clear Command History"
2910, "Clipboard"
2911, "Save History"
2912, "Edit history"
2913, "Clear History"
3001, "&Run"
3002, "&Execute"
3003, "&Cancel"
3004, "R&eset"
3005, "&Paste"
3006, "Close"
3100, "&Select Variables"
3101, "Variables"
3102, "&All"
3103, "&None"
3104, "Variable"
3105, "By:"
3106, "&Test Means"
3107, "&Missing"
3108, "Line"
3109, "Box"
3110, "Filled"
3111, "Shade"
3112, "&Valuelabel+value"
3113, "Design"
3114, "Labels"
4001, "&Close"
4002, "&Show Values"
4003, "&Show Labels"
5001, "&Title"
5002, "S&ubtitle"
5003, "&Footnote"
5004, "&Grid"
5005, "&Legend"
5006, "F&rame"
5007, "&Copy"
5008, "&WMF"
5009, "&Png"
5010, "Edit &All"
5011, "E&xit"
6000, "&File"
6001, "&Edit"
6005, "&Insert History"
6010, "&Run"
6015, "&Window"
6020, "H&elp"
7001, "&Run"
7002, "&Execute"
7003, "&Cancel"
7004, "R&eset"
7005, "&Paste"
7006, "OK"
7100, "&Select Variables"
7101, "Percentage"
7102, "Sorting"
7103, "Table Type"
7104, "Estimation"
7105, "Testing"
7106, "Output Design"
7107, "Labels"
7108, "Column"
7109, "Row"
7110, "&Column"
7111, "&Row"
7112, "T&otal"
7113, "Sho&w Missing"
7114, "Ascending"
7115, "Descending"
7116, "Total:"
7117, "Standar&d"
7118, "Com&pact"
7119, "&First x All"
7120, "&Attack Rate + RR"
7121, "(95% C&I)"
7122, "Odds Ratio"
7123, "RR"
7124, "Gamma"
7125, "Chi Sq"
7126, "Exact p"
7127, "Line"
7128, "Box"
7129, "Filled"
7130, "Shade"
7131, "Valuelabel+value"
7132, "Variable Names"
7133, "&More"
10000, "No data"
61000, "No Data"
61001, "Read data or generate"
}
